body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: coral;
  border-radius: 0.5rem;
}

.secondary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.results-list {
  text-transform: capitalize;
  list-style-type: none;
}

.logo {
  margin: 0 auto;
}

.center {
  justify-content: center;
  text-align: center;
}

button {
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
  background-color: blue;
}
